body {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

.banner {

    position: relative;
}

.banner img {
    width: 100%;
    height: 400%;
}

.banner-text {
    position: absolute;
    top: 10%;
    color: aliceblue;
    text-align: center;
    padding-left: 15%;
    font-size: 25px;

}

#banner-p {
    font-size: 18px;
    text-align: justify;
    padding: 10px 200px 20px 200px;
}

.button {
    text-decoration: none;
    background-color: red;
    color: white;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px 40px;
}

#heading-2 {
    text-align: center;
    font-weight: 100px;

}

.heading-2-p {
    padding: 10px 220px 10px 220px;
    text-align: center;
    font-size: 15px;
}

#main {
    width: 70%;
    height: 20%;
    display: flex;
    padding-left: 300px;
    padding-right: 100px;

}

#main div {
    width: 150px;
    height: 100px;

}



.one {

    background-color: azure;
    border: 2px solid white;
    margin-right: 10px;

}

.two {
    background-color: azure;
    border: 2px solid white;
    margin-right: 10px;
}


.three {
    background-color: rgb(245, 203, 245);
    border: 2px solid orangered;
    margin-right: 10px;

}

.four {
    background-color: azure;
    border: 2px solid white;
    margin-right: 10px;
}

.five {
    background-color: azure;
    border: 2px solid white;
    margin-right: 10px;
}

.input {

    border-bottom: 2px;
}

#button2-id {
    text-align: center;
}



.button2 {
    text-decoration: none;
    background-color: red;
    color: white;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px 40px;

}


#donate-plan {

    text-align: center;
}

#p2 {
    text-align: justify;
    padding: 10px 200px 20px 200px;
}

#main2 {
    width: 70%;
    height: 20%;
    display: flex;
    padding-left: 250px;
    padding-right: 100px;
}


#main div {
    width: 150px;
    height: 100px;

}

.food img {
    width: 8%;
    height: 8%;
    padding-left: 5px;
    padding-top: 5px;

}

.shalter img {
    width: 8%;
    height: 8%;
}

.education img {
    width: 8%;
    height: 8%;
}


.food {
    background-color: aquamarine;
    border: 2px solid white;
    margin-right: 15px;
    padding-left: 10px;
    padding top: 10px;
}

.shalter {
    background-color: coral;
    border: 2px solid white;
    margin-right: 15px;
}

.education {
    background-color: khaki;
    border: 2px solid white;
    margin-right: 15px;
}

.new-div {
    width: 500px;
    height: 500px;
    margin-left: 200px;
    text-align: justify;
}

.button3 {
    text-decoration: none;
    background-color: red;
    color: white;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px 40px;
}

section {
    display: flex;
}

.half-width {
    width: 50%;
    padding-right: 5%;
    text-align: center;
}

.half-width img {
    width: 80%;
}

.button4 {
    text-decoration: none;
    background-color: red;
    color: white;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px 40px;
}

.another-div {
    text-align: center;
}